.app-container__body{
  width: 100%;
  min-height:100vh;
  background: #E5E5E5;
}
.app-container__contant-body{
margin-left: 240px;
}

@media all and (min-device-width: 1439px){
  .app-container__contant-body{
  margin-left: 240px;
  }
}
@media all and (max-device-width: 1439px){
  .app-container__contant-body{
  margin-left: 104px;
  }
}
@media all and (max-device-width: 767px){
  .app-container__contant-body{
  margin-left: 6px;
  }
}