@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.contant__body{
  z-index: 0;
  font-family: 'Roboto', sans-serif;
  background: #E5E5E5;
  height: 100%;
  padding: 30px 0px 0px 0px;
  width: 100%;
  justify-content: center;
  display: flex;
}
.contant__card-image {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media all and (min-device-width:1440px){
  .contant__row{
    width: 1200px ;

  }
  .contant__card{
    width: 347px;
    height: 160px;
  }
  .contant__place-title{
    font-size: 16px;
  }
  .contant__place-description {
    font-size: 16px;
  }
  .contant__promocode {
    margin-top:30px;
    font-size: 36px;
  }
  .contant__promocode-description{
    font-size: 16px;
  }
  .contant__card-image {
  width: 130px;
  height: 160px;
  }
}
@media all and (max-device-width: 1439px){
  .contant__row{
    max-width:  664px;
  }
  .contant__card{
    width: 296px;
    height: 141px;
  }
  .contant__place-title{
    font-size: 14px;
  }
  .contant__place-description {
    font-size: 14px;
  }
  .contant__promocode {
    margin-top:30px;
    font-size: 36px;
  }
  .contant__promocode-description{
    font-size: 16px;
  }
  .contant__card-image {
  width: 104px;
  height: 144px;
  }
}
@media all and (max-device-width: 767px){
  .contant__row{
    width: 320px ;

  }
  .contant__card{
    width: 268px;
    height: 130px;
  }
  .contant__place-title {
    font-size: 12px;
  }

  .contant__place-description {
    font-size: 12px;
  }
  .contant__promocode {
    margin-top:22px;
    font-size: 28px;
  }
  .contant__promocode-description{
    font-size: 12px;
  }
  .contant__card-image {
  width: 89px;
  height: 130px;
  }
}

.contant__row {
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}
.contant__card {
  display: -webkit-flex;
  display: flex;
	-webkit-flex-direction: row;
  flex-direction: row;
  justify-items: end ;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 45%, calc(100% - 10px) 50%, 100% 55%, 100% 100%, 0 100%, 0 55%, 10px 50%, 0 45%);
}
.contant__card-border{
  filter:  drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
}
.contant__card-border-active{
  filter: drop-shadow(0 0 1px rgb(255, 0, 0)) drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
}
.contant__card-text {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 16px 20px;
}
.contant__place-title {
  font-style: normal;
  font-weight: bolder;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.contant__place-description {
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #000000;
  opacity: 0.5;
}
.contant__promocode {
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  /* identical to box height, or 78% */
  display: flex;
  align-items: center;
  color: #DF212D;
}
.contant__promocode-description {
  margin-top:px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  /* identical to box height, or 100% */
  display: flex;
  align-items: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
}
.contant__card-image-body {
  margin-left: auto;
}