@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.side-bar__container-menu {
  z-index: 3;
  position: fixed;
  flex-direction: column;
  background: #F3F4F9;
  border-radius: 0px;
  width: 199px;
  padding-top: 41px;
  padding-left: 41px;
  min-height:100vh
}
.side-bar__container-second-menu {
  z-index: 3;
  position: fixed;
  flex-direction: column;
  background: #F3F4F9;
  border-radius: 0px;
  width: 199px;
  padding-top: 41px;
  padding-left: 41px;
  min-height:100vh;
}
.side-bar__burger-menu-body {
  position: fixed;
  z-index: 3;
  left:106px;
  height: 106px;
  width: 48px;
  top:0px;
  display: flex;
  justify-content: center;
  background-image: url("../icons/background-helper-menu.svg");
}
.side-bar__close-menu-body{
  z-index: 3;
  height: 106px;
  width: 48px;
  top:0px;
  display: flex;
  justify-content: center;
  background-image: url("../icons/background-helper-menu.svg");
}
.side-bar__title-row{
  display: flex;
  place-items: center;
  margin-bottom: 20px;
}
.side-bar__title-text { 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;  
}
.side-bar__title-logo{
margin-right:10px;
}
.side-bar__icon {
  margin-right: 15px;
}
.side-bar__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px
}
.side-bar__item {
  display: flex;
  align-items: center;
  height: 64px;

}

@media all and (min-device-width: 1440px){
  .side-bar__item-enjoy--active{
  display: flex;
  align-items: center;
  height: 64px;
  color:  #34ABE0;
  }
  .side-bar__item-beauty--active{
    display: none;
  }
  .side-bar__item-enjoy--active::before{
  content: ' ';
  border: 1px solid #34ABE0;
  height: 22px;
  right: 41px;
  position: relative;
  }
  .side-bar__item-enjoy{
    display: none;
  }
  .side-bar__item-beauty{
    display: flex;
    align-items: center;
    height: 64px;
  }
  .side-bar__container-menu{
      display: flex;
    }
  .side-bar__container-second-menu{
    display: none;
  }
  .side-bar__container-helper{
    display: none;
  }
}
@media all and (max-device-width: 1439px){
  .side-bar__item-enjoy--active{
  display: none
  }
  .side-bar__item-beauty--active{
    display: flex;
    align-items: center;
    height: 64px;
    color:  #34ABE0;
  }
  .side-bar__item-beauty--active::before{
    content: ' ';
    border: 1px solid #34ABE0;
    height: 22px;
    right: 41px;
    position: relative;
  }
  .side-bar__item-beauty{
    display: none;
  }
  .side-bar__item-enjoy{
    display: flex;
    align-items: center;
    height: 64px;
  }
  .side-bar__container-menu{
    display: none;
  }
  .side-bar__container-second-menu{
    z-index:200;
    width: 205px;
  }
  .side-bar__container-helper{
    z-index:100;
    display: flex;
    position: fixed;
    flex-direction: column;
    background: #F3F4F9;
    border-radius: 0px;
    width: 106px;
    padding-top: 40px;
    min-height:100vh;
    align-items: center;
  }
  .side-bar__close-menu-body{
  position: fixed;
  z-index: 3;
  left:246px;
  }
  .side-bar__title-logo{
    width: 24px;
    height: 24px;
  }
}
@media all and (max-device-width: 767px){
  .side-bar__item-enjoy--active{
  display: none
  }
  .side-bar__item-beauty--active{
    display: flex;
    align-items: center;
    height: 64px;
    color:  #34ABE0;
  }
  .side-bar__item-beauty--active::before{
    content: ' ';
    border: 1px solid #34ABE0;
    height: 22px;
    right: 41px;
    position: relative;
  }
  .side-bar__item-beauty{
    display: none;
  }
  .side-bar__item-enjoy{
    display: flex;
    align-items: center;
    height: 64px;
  }
  .side-bar__container-menu{
    display: none;
  }
  .side-bar__container-second-menu{
    z-index:200;
    padding-left: 19px;
    width: 173px;
  }
  .side-bar__container-helper{
    z-index:100;
    display: flex;
    position: fixed;
    flex-direction: column;
    background: #F3F4F9;
    border-radius: 0px;
    width: 106px;
    padding-top: 40px;
    min-height:100vh;
    align-items: center;
    left: -94px
  }
  .side-bar__close-menu-body{
  position: fixed;
  z-index: 30;
  left:192px;
  }
  .side-bar__burger-menu-body{
  position: fixed;
  left: 12px;
  }
}