@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.header__body {
  font-family: 'Open Sans', sans-serif;
  height: 120px;
    padding: 40px 60px 40px 60px;
  border-bottom: 1px solid #E5E5E5;
  background:#FFFFFF;
}
.header__body-helper{
  font-family: 'Open Sans', sans-serif;
  height: 120px;
  padding: 40px 60px 40px 60px;
  border-bottom: 1px solid #E5E5E5;
  background:#FFFFFF;
  position: fixed;
  top:-3px;
  height: 52px;
  z-index:1;
  width: calc(100% - 360px);
}
.header__title {
  text-align: right;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 30px;
  color: #000000;

  opacity: 0.85;
}
.header__input-body{
display: flex;
align-items: center;
border: 1px solid rgba(51, 51, 51, 0.2);
box-sizing: border-box;
border-radius: 50px;
padding: 12px;
}
.header__icon{
  margin: 0 10px 0 5px;
}
.header__input {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  outline: none; 
  width: 100%;
  border: none;
}
@media all and (min-device-width: 1440px){
  .header__body {
    height: 120px;
    padding: 40px 60px 40px 60px;
    border-bottom: 1px solid #E5E5E5;
    background:#FFFFFF;
  }
  .header__title-enjoy{
    display: inline;
  }
  .header__title-beauty{
    display: none;
  }
}
@media all and (max-device-width: 1439px){
  .header__body {
    font-family: 'Open Sans', sans-serif;
    height: 120px;
    padding: 31px 27px 26px 26px;
    border-bottom: 1px solid #E5E5E5;
    background:#FFFFFF;
  }
  .header__title-enjoy{
    display: none;
  }
  .header__title-beauty{
    display: inline;
  }
  .header__body-helper{
    height: 120px;
    border-bottom: 1px solid #E5E5E5;
    background:#FFFFFF;
    position: fixed;
    top:-3px;
    height: 52px;
    padding: 27px 27px 27px 77px;
    z-index:1;
    width: calc(100% - 208px);
}
}
@media all and (max-device-width: 767px){
  .header__body {
    padding: 27px 21px 27px 20px;
  }
  .header__body-helper{
    height: 120px;
    padding: 27px 21px 27px 68px;
    border-bottom: 1px solid #E5E5E5;
    background:#FFFFFF;
    position: fixed;
    top:-3px;
    height: 52px;
    width: calc(100% - 97px);
  }
  .header__input {
    font-size: 14px;
  }
}