<template>
  <div>
    <!-- main -->
    <div class="side-bar__container-menu">
      <div class="side-bar__title-row">
        <img
          src="@/assets/icons/logo.svg"
          alt="Лого"
          class="side-bar__title-logo"
        />
        <div class="side-bar__title-text">BECO</div>
      </div>
      <nav>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <img
              src="@/assets/icons/catalog.svg"
              alt="Каталог"
              class="side-bar__icon"
            />
            Каталог
          </li>
          <li class="side-bar__item">
            <img
              src="@/assets/icons/health.svg"
              alt="Здоровье"
              class="side-bar__icon"
            />
            Здоровье
          </li>
          <li class="side-bar__item-beauty--active">
            <img
              src="@/assets/icons/beauty-active.svg"
              alt="Красота"
              class="side-bar__icon"
            />
            Красота
          </li>
          <li class="side-bar__item-beauty">
            <img
              src="@/assets/icons/beauty.svg"
              alt="Красота"
              class="side-bar__icon"
            />
            Красота
          </li>
          <li class="side-bar__item-enjoy">
            <img
              src="@/assets/icons/enjoy.svg"
              alt="Развлечение"
              class="side-bar__icon"
            />
            Развлечение
          </li>
          <li class="side-bar__item-enjoy--active">
            <img
              src="@/assets/icons/enjoy-active.svg"
              alt="Развлечение"
              class="side-bar__icon"
            />
            Развлечение
          </li>
          <li class="side-bar__item">
            <img
              src="@/assets/icons/car.svg"
              alt="Авто"
              class="side-bar__icon"
            />
            Авто
          </li>
        </ul>
      </nav>
    </div>
    <!-- second menu -->
    <div class="side-bar__container-second-menu" v-if="isMenuOpen">
      <div class="side-bar__close-menu-body" @click="openMenu">
        <img
          src="@/assets/icons/menu-exit.svg"
          alt=""
          class="side-bar__burger-menu-image"
        />
      </div>
      <div class="side-bar__title-row">
        <img
          src="@/assets/icons/logo.svg"
          alt="Лого"
          class="side-bar__title-logo"
        />
        <div class="side-bar__title-text">BECO</div>
      </div>
      <nav>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <img
              src="@/assets/icons/catalog.svg"
              alt="Каталог"
              class="side-bar__icon"
            />
            Каталог
          </li>
          <li class="side-bar__item">
            <img
              src="@/assets/icons/health.svg"
              alt="Здоровье"
              class="side-bar__icon"
            />
            Здоровье
          </li>
          <li class="side-bar__item-beauty--active">
            <img
              src="@/assets/icons/beauty-active.svg"
              alt="Красота"
              class="side-bar__icon"
            />
            Красота
          </li>
          <li class="side-bar__item-beauty">
            <img
              src="@/assets/icons/beauty.svg"
              alt="Красота"
              class="side-bar__icon"
            />
            Красота
          </li>
          <li class="side-bar__item-enjoy">
            <img
              src="@/assets/icons/enjoy.svg"
              alt="Развлечение"
              class="side-bar__icon"
            />
            Развлечение
          </li>
          <li class="side-bar__item-enjoy--active">
            <img
              src="@/assets/icons/enjoy-active.svg"
              alt="Развлечение"
              class="side-bar__icon"
            />
            Развлечение
          </li>
          <li class="side-bar__item">
            <img
              src="@/assets/icons/car.svg"
              alt="Авто"
              class="side-bar__icon"
            />
            Авто
          </li>
        </ul>
      </nav>
    </div>
    <!-- helper -->
    <div class="side-bar__container-helper">
      <div class="side-bar__burger-menu-body" @click="openMenu">
        <img
          src="@/assets/icons/burger-menu.svg"
          alt=""
          class="side-bar__burger-menu-image"
        />
      </div>
      <div class="side-bar__title-row">
        <img
          src="@/assets/icons/logo.svg"
          alt="Лого"
          class="side-bar__title-logo"
        />
      </div>
      <nav>
        <ul class="side-bar__list">
          <li class="side-bar__item">
            <img
              src="@/assets/icons/catalog.svg"
              alt="Каталог"
              class="side-bar__icon"
            />
          </li>
          <li class="side-bar__item">
            <img
              src="@/assets/icons/health.svg"
              alt="Здоровье"
              class="side-bar__icon"
            />
          </li>
          <li class="side-bar__item-beauty--active">
            <img
              src="@/assets/icons/beauty-active.svg"
              alt="Красота"
              class="side-bar__icon"
            />
          </li>
          <li class="side-bar__item">
            <img
              src="@/assets/icons/enjoy.svg"
              alt="Развлечение"
              class="side-bar__icon"
            />
          </li>
          <li class="side-bar__item">
            <img
              src="@/assets/icons/car.svg"
              alt="Авто"
              class="side-bar__icon"
            />
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
import "@/assets/css/sideBar.css";
export default {
  data() {
    return {
      isMenuOpen: false
    };
  },
  methods: {
    openMenu() {
      this.isMenuOpen = !this.isMenuOpen;
      console.log("sss");
    }
  }
};
</script>
