<template>
  <div>
    <div class="contant__body">
      <!-- 1 row -->
      <div class="contant__row">
        <div class="contant__card-border-active">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Пробка на мира</div>
              <div class="contant__place-description">Вечер на двоих</div>
              <div class="contant__promocode">-50%</div>
              <div class="contant__promocode-description">СКИДКА</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/1.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>
        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Кино и немцы</div>
              <div class="contant__place-description">
                Бесплатный бокал пива
              </div>
              <div class="contant__promocode">Варвар</div>
              <div class="contant__promocode-description">промокод</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/2.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>
        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Valery cakes</div>
              <div class="contant__place-description">Торт</div>
              <div class="contant__promocode">30%</div>
              <div class="contant__promocode-description">скидка</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/3.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>

        <!-- 2 row -->

        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Sushi sell</div>
              <div class="contant__place-description">Набор "Праздник"</div>
              <div class="contant__promocode">45%</div>
              <div class="contant__promocode-description">СКИДКА</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/4.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>
        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">mangosteen</div>
              <div class="contant__place-description">Фрукт в подарок</div>
              <div class="contant__promocode">j130</div>
              <div class="contant__promocode-description">купон</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/5.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>
        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Теленок табака</div>
              <div class="contant__place-description">стейк "Мачете</div>
              <div class="contant__promocode">20%</div>
              <div class="contant__promocode-description">скидка</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/6.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>

        <!-- 3 row -->

        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Fire food</div>
              <div class="contant__place-description">
                Вторая шаурма в подарок
              </div>
              <div class="contant__promocode">Огонь</div>
              <div class="contant__promocode-description">промокод</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/7.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>
        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Aroma cremeria</div>
              <div class="contant__place-description">Джелато "Пармезан"</div>
              <div class="contant__promocode">20%</div>
              <div class="contant__promocode-description">скидка</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/8.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>
        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Пробка на мира</div>
              <div class="contant__place-description">Вечер на двоих</div>
              <div class="contant__promocode">j130</div>
              <div class="contant__promocode-description">купон</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/1.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>

          <!-- 4 row -->
        </div>

        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Кино и немцы</div>
              <div class="contant__place-description">
                Бесплатный бокал пива
              </div>
              <div class="contant__promocode">Варвар</div>
              <div class="contant__promocode-description">промокод</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/2.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>
        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Valery cakes</div>
              <div class="contant__place-description">Торт</div>
              <div class="contant__promocode">30%</div>
              <div class="contant__promocode-description">Скидка</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/3.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>
        <div class="contant__card-border">
          <div class="contant__card">
            <div class="contant__card-text">
              <div class="contant__place-title">Sushi sell</div>
              <div class="contant__place-description">Набор "Праздник"</div>
              <div class="contant__promocode">45%</div>
              <div class="contant__promocode-description">скидка</div>
            </div>
            <div class="contant__card-image-body">
              <img
                src="@/assets/images/4.png"
                alt
                class="contant__card-image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/contant.css";
export default {};
</script>
