<template>
  <div>
    <div
      class="header__body"
      v-scroll="handleScroll"
      :class="{ header__fixed: scrolled }"
    >
      <div class="header__title">
        <div class="header__title-enjoy">
          Развлечение
        </div>
        <div class="header__title-beauty">
          Красота
        </div>
      </div>
      <div class="header__input-body">
        <img src="@/assets/icons/search.svg" alt="Лупа" class="header__icon" />
        <input
          v-model="inputText"
          type="text"
          name=""
          placeholder="Какой магазин вам нужен?"
          id=""
          class="header__input"
        />
      </div>
    </div>
    <div class="header__body-helper" v-if="scrolled">
      <div class="header__input-body">
        <img src="@/assets/icons/search.svg" alt="Лупа" class="header__icon" />
        <input
          v-model="inputText"
          type="text"
          name=""
          placeholder="Какой магазин вам нужен?"
          id=""
          class="header__input"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";

import "@/assets/css/siteHeader.css";
// деректива для слежения за скроллом
Vue.directive("scroll", {
  inserted: function(el, binding) {
    let f = function(evt) {
      if (binding.value(evt, el)) {
        window.removeEventListener("scroll", f);
      }
    };
    window.addEventListener("scroll", f);
  }
});
export default {
  data() {
    return {
      scrolled: false,
      inputText: ""
    };
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 74) {
        this.scrolled = true;
      } else {
        this.scrolled = false;
      }
    }
  }
};
</script>
