<template>
  <div id="app" class="app-container__body">
    <sideBar />
    <div class="app-container__contant-body">
      <siteHeader />
      <siteContant />
    </div>
  </div>
</template>

<script>
import "@/assets/css/app.css";
import siteHeader from "@/components/siteHeader.vue";
import siteContant from "@/components/siteContant.vue";
import sideBar from "@/components/sideBar.vue";

export default {
  components: {
    sideBar,
    siteContant,
    siteHeader
  }
};
</script>
